@model RemliCMS.Models.LocalPasswordModel


<div class="large-12 columns">
    <h3>Change password</h3>
</div>

    @using (Html.BeginForm("Manage", "Account")) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()
        
        <div class="large-12 columns">
            <label>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </label>
        </div>
        <div class="large-12 columns">
            <label>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </label>
        </div>
        <div class="large-12 columns">
            <label>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </label>
        </div>
        <div class="large-12 columns">
            <input class="button" type="submit" value="Change password" />
        </div>
    }
    