@model RemliCMS.Models.LoginModel

@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="row">
        <div class="large-12 columns">
            <h2>Use a local account to log in.</h2>
        </div>
        <div class="large-12 columns">
            <label>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)                
            </label>
        </div>
        <div class="large-12 columns">
            <label>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </label> 
        </div>
        <div class="large-12 columns">
            @Html.CheckBoxFor(m => m.RememberMe)
            @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
        </div>
        <div class="large-12 columns">
            <input class="button" type="submit" value="Log in" />
        </div>
    </div>
}

@section head
{
    @{ Html.RenderAction("AdminHeader", "Shared", new { currentItem = "pageheader" });}
}