<!DOCTYPE html>
<html class="no-js" lang=@ViewBag.LangCode dir=@ViewBag.LangDir>
    <head>
        <meta charset="utf-8" />
        @ViewBag.Test

        @*Set the viewport width to device width for mobile *@
        <meta name="viewport" content="width=device-width" />

        <title>@ViewBag.Title - Welcome to Foundation</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        
        @if (ViewBag.LangDir == "rtl")
        {
            @Styles.Render("~/Content/css_rtl")            
        }
        else
        {
            @Styles.Render("~/Content/css")
        }


        @Scripts.Render("~/bundles/modernizr")
    </head>

    <body>
        @RenderSection("head", required: false)
        
        @*Page Title*@        
        <div class="row">
            <div class="large-12 columns">    
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
        
        @*Error Message*@
        <div class="row">
            <div class="large-12 columns">
                @if (ViewBag.Message != null)
                {
                    <div class="error">@ViewBag.Message</div>
                }
            </div>
        </div>


        @RenderBody()


        @RenderSection("routedebug", required:false)
            
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/foundation")
        <script>
            $(document).foundation();
        </script>
        @*Use the Scripts section to define page specific scripts*@
        @RenderSection("scripts", required: false)
    </body>
</html>