<div class="contain-to-grid fixed">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/admin">Site Administration</a></h1>
            </li>
        </ul>
    
        <section class="top-bar-section">
            <ul class="right">
                
                @if (ViewBag.CurrentItem == "pageheader")
                {
                    <li class="active">@Html.ActionLink("Content", "Index", "PageHeader")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Content", "Index", "PageHeader")</li>                    
                }

                @if (ViewBag.CurrentItem == "translation")
                {
                    <li class="active">@Html.ActionLink("Translation", "Index", "Translation")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Translation", "Index", "Translation")</li>                    
                }
                
                @if (ViewBag.CurrentItem == "registration")
                {
                    <li class="active">@Html.ActionLink("Registration", "Index", "RegAdmin")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Registration", "Index", "RegAdmin")</li>                    
                }
                
                @if (ViewBag.CurrentItem == "payment")
                {
                    <li class="active">@Html.ActionLink("Payment", "PaymentManagement", "RegAdmin")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Payment", "PaymentManagement", "RegAdmin")</li>                    
                }

                <li><a href="/">Back to Site</a></li>

            </ul>
        </section>
    </nav>

</div>
<div class="padding"></div>
<div class="row">
    <div class="large-12 columns">
        @if (Request.IsAuthenticated) {
            <ul class="inline-list right">
                <li>@Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })</li>
                <li>@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                }</li>
            </ul>
        } else {
            <ul class="inline-list right">
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        }

    </div>
</div>

