@*/admin/RegAdmin/Confirmed*@

@model IEnumerable<RemliCMS.RegSystem.Entities.Participant>

<div class="row">
    <div class="large-12 columns">
        <h3>Confirmed Participant List</h3>
    </div>
</div>

<div class="row">
    <div id="participants" class="large-12 columns">
        <table>
            <thead>
                <tr>
                    <th class="sort" data-sort="id">
                        RegId
                    </th>
                    <th class="sort" data-sort="partid">
                        PartId
                    </th>
                    <th class="sort" data-sort="fname">
                        First Name
                    </th>
                    <th class="sort" data-sort="lname">
                        Last Name
                    </th>
                    <th class="sort" data-sort="cname">
                        Chinese Name
                    </th>
                    <th class="sort" data-sort="gender">
                        Gender
                    </th>
                    <th class="sort" data-sort="agerange">
                        Age Range
                    </th>
                    <th class="sort" data-sort="session">
                        Session
                    </th>
                    <th class="sort" data-sort="roomtype">
                        Room Type
                    </th>
                    <th class="sort" data-sort="roomnote">
                        Notes
                    </th>
                    <th class="sort" data-sort="status">
                        Status
                    </th>
                    <th>
                        <input type="text" class="search" placeholder="Search Participant"/>
                    </th>
                </tr>
            </thead>
            <tbody class="list">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="id">
                            <a href="@Url.Action("OpenReg", "RegAdmin", new { regId = item.RegId })">@item.RegId</a>
                        </td>
                        <td class="partid">
                            @Html.DisplayFor(modelItem => item.PartId)                        
                        </td>
                        <td class="fname">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>                    
                        <td class="lname">
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>                    
                        <td class="cname">
                            @Html.DisplayFor(modelItem => item.ChineseName)
                        </td>                    
                        <td class="gender">
                            @ViewBag.GenderId[item.GenderId]
                        </td>
                        <td class="agerange">
                            @ViewBag.AgeRangeId[item.AgeRangeId]
                        </td>
                        <td class="session">
                            @ViewBag.SessionId[item.SessionId]
                        </td>
                        <td class="roomtype">
                            @ViewBag.RoomTypeId[item.RoomTypeId]
                        </td>
                        <td class="roomnote">
                            @Html.DisplayFor(modelItem => item.RoomNote)
                        </td>
                        <td class="status">
                            @ViewBag.StatusId[item.StatusId]
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@section head
{
    @{ Html.RenderAction("AdminHeader","Shared", new {currentItem = "registration"});}
}

@section Scripts
{

    <script src="~/Scripts/list.min.js"></script>

    <script>
        var options = {
            valueNames: ['id', 'partid', 'fname', 'lname', 'cname', 'gender', 'agerange','session','roomtype','roomnote','status']
        };

        var registrationList = new List('participants', options);
        
    </script>
}