@*/admin/RegAdmin/Index*@

@model IEnumerable<RemliCMS.RegSystem.Entities.Registration>


<div class="row">
    <div class="large-12 columns">
        <h3>Registration List</h3>
        <p>@Html.ActionLink("Participant List", "Participant", "RegAdmin", new {numResult=10},"")</p>
    </div>
</div>

<div class="row">
    <div id = "registrations" class="large-12 columns">
        <table>
            <thead>
                <tr>
                    <th class="sort" data-sort="id">
                        @Html.DisplayNameFor(model => model.RegId)
                    </th>
                    <th class="sort" data-sort="email">
                        @Html.DisplayNameFor(model => model.RegEmail)
                    </th>
                    <th class="sort" data-sort="phone">
                        @Html.DisplayNameFor(model => model.RegPhone)
                    </th>
                    <th></th>
                    <th class="sort" data-sort="dateOpened">
                        @Html.DisplayNameFor(model => model.DateOpened)
                    </th>
                    <th class="sort" data-sort="confirmed">
                        @Html.DisplayNameFor(model => model.IsConfirmed)
                    </th>
                    <th class="sort" data-sort="deleted">
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </th>
                    <th class="sort" data-sort="remainingBal">
                        Remaining Balance
                    </th>
                    <th>
                        <input type="text" class="search" placeholder="Search Registration"/>
                    </th>
                </tr>
            </thead>
            <tbody class="list">
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="id">
                            <a href="@Url.Action("OpenReg", "RegAdmin", new { regId = item.RegId })">@item.RegId</a>
                        </td>
                        <td class="email">
                            @Html.DisplayFor(modelItem => item.RegEmail)
                        </td>                    
                        <td class="phone">
                            @Html.DisplayFor(modelItem => item.RegPhone)
                        </td>    
                        <td>
                            <a href="@Url.Action("RegistrationEdit", "RegAdmin", new { regObjectId = item.Id })"><i class="fi-pencil"></i></a>
                        </td>       
                        <td class="dateOpened">
                            @if (item.DateOpened.ToString() == "1/1/0001 12:00:00 AM")
                            {
                                @:Never Opened
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.DateOpened)
                            }
                        </td>                    
                        <td class="confirmed">
                            @Html.DisplayFor(modelItem => item.IsConfirmed)
                        </td>
                        <td class="deleted">
                            @Html.DisplayFor(modelItem => item.IsDeleted)
                        </td>
                        <td class="remainingBal">
                            @{ Html.RenderAction("RemainingBal", new { regId = item.RegId });
                }
                        </td>
                        <td></td>
                    </tr>
                
                }
            </tbody>
        </table>
    </div>
</div>


@section head
{
    @{ Html.RenderAction("AdminHeader","Shared", new {currentItem = "registration"});}
}

@section Scripts
{

    <script src="~/Scripts/list.min.js"></script>

    <script>
        var options = {
            valueNames: ['id', 'email', 'phone', 'dateOpened', 'confirmed', 'deleted']
        };

        var registrationList = new List('registrations', options);
        
    </script>
}