@*/admin/RegAdmin/Participant*@

@model IEnumerable<RemliCMS.RegSystem.Entities.Participant>

<div class="row">
    <div class="large-12 columns">
        <h3>Participant List</h3>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <table>
            <thead>
                <tr>
                    <th>
                        RegId
                    </th>
                    <th>
                        PartId
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Chinese Name
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Age Range
                    </th>
                    <th>
                        Session
                    </th>
                    <th>
                        Status
                    </th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="@Url.Action("Registration", "Register", new {regObjectId = item.RegId.ToString()})">@item.RegId</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PartId)                        
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.ChineseName)
                    </td>                    
                    <td>
                        @ViewBag.GenderId[item.GenderId]
                    </td>
                    <td>
                        @ViewBag.AgeRangeId[item.AgeRangeId]
                    </td>
                    <td>
                        @ViewBag.SessionId[item.SessionId]
                    </td>
                    <td>
                        @ViewBag.StatusId[item.StatusId]
                    </td>
                </tr>
                
            }

        </table>
    </div>
</div>


@section head
{
    @{ Html.RenderAction("AdminHeader","Shared", new {currentItem = "registration"});}
}
