@*/admin/RegAdmin/PaymentMemo*@

@model RemliCMS.RegSystem.Entities.Registration

@{Html.RenderAction("Summary", "Register", new {transObjectId = ViewBag.TranslationObjectId, Model.RegId, isAdmin = true});}

<div class="row">
	<div class="large-12 columns">
	    
	<p>Modify Payment Memo</p>
	    
	@using (Html.BeginForm())
	{
     @Html.AntiForgeryToken()
        
	    <div class="large-12 small-12 columns">
	        <label>
	            <p>Registration Email.</p>                	                    
	            @Html.EditorFor(model => model.RegEmail)
	        </label>
	    </div>
	    <div class="large-12 small-12 columns">
	        <label>
	            <p>Registration Phone Number.</p>
	            @Html.EditorFor(model => model.RegPhone)
	        </label>
	    </div>
	    <div class="large-4 small-6 columns">
	        <label>
	            <p>Is Confirmed</p>
                @Html.CheckBoxFor(model => model.IsConfirmed)
	        </label>
	    </div>
     	<div class="large-4 small-6 columns">
	        <label>
	            <p>Is Deleted</p>
                @Html.CheckBoxFor(model => model.IsDeleted)
	        </label>
	    </div>
     	    <div class="large-12 small-12 columns">
	        <input class="button tiny" type="submit" value="Submit" />
	        <input class="button tiny alert" type="button" title="Cancel" value="Cancel" onclick="location.href='@Url.Action("Index", "RegAdmin")'" />
	    </div>
     

    }
 
	</div>
</div>       


@section head
{
    @{ Html.RenderAction("AdminHeader","Shared", new {currentItem = "registration"});}
}
