@*admin/Translation/Index*@

@model IEnumerable<RemliCMS.WebData.Entities.Translation>

<div class="row">
    <div class="large-12 columns">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IsDefault)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsRtl)
                </th>
                <th></th>
                <th></th>

            </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @if (item.IsDefault)
                        {
                            <i class="fi-home green"></i>
                        }
                    </td>
                    <td>
                        @if (item.IsActive)
                        {
                            <i class="fi-check green"></i>
                        }
                
                        @if (item.IsActive == false)
                        {
                            <i class="fi-x red"></i>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @if (item.IsRtl)
                        {
                            <i class="fi-check green"></i>
                        }
                
                        @if (item.IsRtl == false)
                        {
                            <i class="fi-x red"></i>
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "Translation", new { url = item.Url })"><i class="fi-pencil"></i></a>
                    </td>
                    <td>
                        <a href="@Url.Action("Delete", "Translation", new { url = item.Url })"><i class="fi-trash red"></i></a>
                    </td>

                </tr>
            }

        </table>
    </div>
</div>

@section head
{
    @{ Html.RenderAction("AdminHeader","Shared", new {currentItem = "translation"});}
}

