@*/admin/PageContent/Create*@

@model RemliCMS.WebData.Entities.PageContent

<div class="row">
    <div class="large-12 columns">

        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>PageContent Create</legend>
        
                <div class="row">
                    <div class="small-9 large-4 columns">
                        <label>Page Name</label>
                        @ViewBag.Location
                    </div>
                </div>

                <br/>

                <div class="row">
                    <div class="small-9 large-4 columns">
                        <label>Language</label>
                        @ViewBag.translation
                        <input data-val="true" data-val-required="The Id field is required." id="TranslationId" name="TranslationId" type="hidden" value="@ViewBag.translationId" />
                    </div>
                </div>
        
                <br/>

                <div class ="row">
            
                    <div class="large-12 columns">
                        <label>Width</label>

                        <div class="small-9 large-4 columns">
                
                            Content Width (Small): @ViewBag.smwidth
                        </div>
                        <div class="small-9 large-4 columns">
                            Content Width (Large): @ViewBag.lgwidth
                        </div>

                        @Html.ActionLink("Edit", "SetWidth", "PageContent", new {ViewBag.indexId, ViewBag.translationId},"")
                    </div>
                </div>

                <br/>

                <div class ="row">
                    <div class="@ViewBag.contentClass">
                        <label>@Html.LabelFor(model => model.Content)</label>   
                        @Html.TextAreaFor(model => model.Content,new { id="txtInput", @style = "resize: none; height:auto; overflow:hidden"})
                        @Html.ValidationMessageFor(model => model.Content)
                    </div>
                </div>
        
                <br/>

                <div class ="row">
                    <div class="small-9 large-4 columns">
                        <label>@Html.LabelFor(model => model.IsActive)</label>   
                        @Html.EditorFor(model => model.IsActive)
                        @Html.ValidationMessageFor(model => model.IsActive)
                    </div>
                </div>

                <p>
                    <input type="submit" value="Save" />
                </p>
            </fieldset>
        }

        <div>
            @Html.ActionLink("Back", "Index", new {pagePermalink = ViewBag.permalink})
        </div>
    
    </div>
</div>

@section head
{
    @{ Html.RenderAction("AdminHeader","Shared", new {currentItem = "pageheader"});}
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    <script>
        $('form').submit(function() {
            $(this).find('input[type="submit"]').attr('disabled', 'disabled');
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("txtInput").autoGrow();
        });
    </script>
}