@model IEnumerable<RemliCMS.WebData.Entities.PageIndex>

<div class="row">
    @Html.ActionLink("Edit Title","Create", "PageTitle", new {pageHeaderId = ViewBag.pageHeaderId, translationId = ViewBag.TranslationId})
</div>

@foreach (var item in Model)

{
    {
        Html.RenderAction("PageContent", "Home", new { pageIndexId = item.Id, translationId = ViewBag.TranslationId });
    }
    
    <div class="row">
        <div class="large-4 columns">
            <p>
                Created date: @Html.DisplayFor(modelItem => item.CreatedDate)
            </p>
        </div>
        <div class="large-4 columns">
            <p>
            Order: @Html.DisplayFor(modelItem => item.Order)
            </p>
        </div>
        <div class="large-4 columns">
            <p>
                @Html.ActionLink("Edit", "Create", new {indexId = item.Id, translationId = ViewBag.TranslationId}) |
                @Html.ActionLink("Move Down", "MoveDown", new {indexId = item.Id, translationId = ViewBag.TranslationId}) |
                @Html.ActionLink("Move Up", "MoveUp", new {indexId = item.Id, translationId = ViewBag.TranslationId})
            </p>
        </div>
    </div>


}

<div class="row">
    <div>
        @Html.ActionLink("Add New Section", "AddIndex", new {pageHeaderId = ViewBag.pageHeaderId, translationId = ViewBag.TranslationId})
    </div>
</div>

@section head
{
    @{ Html.RenderAction("AdminHeader","Shared", new {currentItem = "pageheader"});}
}
