@model RemliCMS.WebData.Entities.PageIndex


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Width Edit</legend>
        
        <div class ="row">
            <div class="small-9 large-4 columns">
                <label>@Html.LabelFor(model => model.SmWidth)</label>
                @Html.DropDownListFor(model => model.SmWidth, new SelectList(ViewBag.columnWidthDD, "Value", "Text"))
                @Html.ValidationMessageFor(model => model.SmWidth)
            </div>
        </div>

        <div class ="row">
            <div class="small-9 large-4 columns">
                <label>@Html.LabelFor(model => model.LgWidth)</label>   
                @Html.DropDownListFor(model => model.LgWidth, new SelectList(ViewBag.columnWidthDD, "Value", "Text"))
                @Html.ValidationMessageFor(model => model.LgWidth)
            </div>
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back", "Create", "PageContent", new {ViewBag.indexId, ViewBag.translationId},"")
</div>

@section head
{
    @{ Html.RenderAction("AdminHeader","Shared", new {currentItem = "pageheader"});}
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('form').submit(function () {
            $(this).find('input[type="submit"]').attr('disabled', 'disabled');
        });
    </script>
}

                  
