@*/translation/Register/Delete*@

@model RemliCMS.RegSystem.Entities.Participant

@{Html.RenderAction("Summary", "Register", new { regId = ViewBag.RegId});}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input data-val="true" data-val-required="The Id field is required." id="RegId" name="RegId" type="hidden" value="@ViewBag.RegId" />
    <input data-val="true" data-val-required="The Id field is required." id="PartId" name="PartId" type="hidden" value="@ViewBag.ParticipantId" />

    <div class="row">
        <div class="large-12 columns">
        
            @if (ViewContext.RouteData.Values["translation"].ToString() == "en")
            {
                <p>Are you sure you want to remove the following participant?</p>
                <input class="button tiny" type="submit" title="Delete" value="Delete" name ="submit"/>
                @Html.ActionLink("Cancel", "Registration", "Register", new {regObjectId = ViewBag.RegObjectID}, new {@class = "button tiny alert"})
            }

            @if (ViewContext.RouteData.Values["translation"].ToString() == "zh")
            {
                <p>你确定你要删除的参与者?</p>
                <input class="button tiny" type="submit" title="Delete" value="Delete" name ="submit"/>
                @Html.ActionLink("Cancel", "Registration", "Register", new {regObjectId = ViewBag.RegObjectID}, new {@class = "button tiny alert"})
            }
        </div>
    </div>
}

@{
    Html.RenderAction("SummaryHelper", "Register", new { translationObjectId = ViewBag.TranslationObjectId, regId = ViewBag.RegId, isAdmin = false, partId = ViewBag.ParticipantId });
}

@section head
{
    @if (ViewBag.isAdmin == false)
    {
        Html.RenderAction("NavBar", "Shared");
    }
    else
    {
        Html.RenderAction("AdminHeader", "Shared", new { currentItem = "registration" });
    }
}

