@*//Participant/Index/RegID&isAdmin*@

@model IEnumerable<RemliCMS.RegSystem.Entities.Participant>

<div class="row">
    <div class="large-12 columns">
        
        @if (@ViewBag.RegIsConfirm)
        {

            <div class="large-4 columns">
                @if (ViewContext.RouteData.Values["translation"].ToString() == "en")
                {                    
                    <p>This registration has been confirmed and can not be modified.</p>
                    <p>If you need to modify, please email <a href="mailto:gct826@gmail.com">gct826@gmail.com</a> with your modification request.</p>

                }
                        
                @if (ViewContext.RouteData.Values["translation"].ToString() == "zh")
                {                    
                    <p>注册已被证实，不能修改。</p>
                    <p>如果需要修改，请电邮 <a href="mailto:gct826@gmail.com">gct826@gmail.com</a>。</p>

                }
                
                        
                @*if (ViewBag.isAdmin == true)
                {
                    <input type="button" title="Edit Registration" value="Edit Registration" onclick="location.href='@Url.Action("Unlock", "Register", new { RegUID = ViewBag.RegUID, isAdmin = ViewBag.isAdmin }, "")    '" />
                    <input type="button" title="Add Payment" value="Add Payment" onclick="location.href='@Url.Action("Create", "Payment", new { id = ViewBag.RegID })    '" />    
                    <input type="button" title="Check Out All" value ="Check Out All" onclick="location.href='@Url.Action("CheckOutReg", "CheckIn", new { id = ViewBag.RegID })'"/>
                    <br/>
                    <input type="button" title="Part Search" value="Part Search" onclick="location.href='@Url.Action("Index", "SearchRegistration")    '" />
                    <input type="button" title="Reg List" value="Reg List" onclick="location.href='@Url.Action("Index", "AdminRegistration")    '" />
                    <input type="button" title="History" value="History" onclick="location.href='@Url.Action("Reg", "AdminHistory", new{ id = ViewBag.RegID })    '" />
                }*@
                        

            </div>
            @*Html.RenderAction("PaymentSummary", "Register", new { ID = ViewBag.RegID });*@

        }

        @if (@ViewBag.RegIsConfirm == false)
        {
                
                if (ViewContext.RouteData.Values["translation"].ToString() == "en")
                {                            
                    <p>Select "Add Participant to add a new participant. Please click "Confirm Registration" once you're done.</p>
                    <input class="button tiny" type="button" title="Add New" value="Add Participant" onclick="location.href='@Url.Action("Participant", "Register", new { regObjectId = ViewBag.RegObjectID, partId = 0 })    '" />
                    <input class="button tiny" type="button" title="Confim" value="Confirm Registration" onclick="location.href='@Url.Action("Confirm", "Register", new { regObjectId = ViewBag.RegObjectID, isAdmin = ViewBag.isAdmin }, "")    '" />
                }

                if (ViewContext.RouteData.Values["translation"].ToString() == "zh")
                {                            
                    <p>请点击”加与会者“加一个新的参与者。请点击”证实注册“一旦你完成。</p>
                    <input type="button" title="加与会者" value="加与会者" onclick="location.href='@Url.Action("Participant", "Register", new { regObjectId = ViewBag.RegObjectID, partId = 0 })    '" />
                    <input type="button" title="证实注册" value="证实注册" onclick="location.href='@Url.Action("Confirm", "Register", new { regObjectId = ViewBag.RegObjectID, isAdmin = ViewBag.isAdmin }, "")    '" />
                }
    
                @*if (ViewBag.isAdmin == true)
                {
                    <input type="button" title="Part Search" value="Part Search" onclick="location.href='@Url.Action("Index", "SearchRegistration")    '" />
                    <input type="button" title="Reg List" value="Reg List" onclick="location.href='@Url.Action("Index", "AdminRegistration")    '" />
                    <input type="button" title="History" value="History" onclick="location.href='@Url.Action("Reg", "AdminHistory", new { id = ViewBag.RegID })    '" />
                }*@  
        } 
    </div>
</div>

<div class="row">
    
    <div class="large-12 columns">
        @if (ViewContext.RouteData.Values["translation"].ToString() == "en")
        { 
            <h5>Registered Participants</h5>
        }
        @if (ViewContext.RouteData.Values["translation"].ToString() == "zh")
        { 
            <h5>报名会者</h5>
        }
    </div>
</div>
<br/>
            @foreach (var item in Model)
            {
                <div class="row panel">
                    <div class="large-3 medium-6 small-12 columns">
                        <p>
                            <label>@Html.DisplayNameFor(model => model.FirstName)</label>
                            <strong>@Html.DisplayFor(modelItem => item.FirstName)</strong>
                        </p>
                    </div>
                    <div class="large-3 medium-6 small-12 columns">
                        <p>
                            <label>@Html.DisplayNameFor(model => model.LastName)</label>
                            <strong>@Html.DisplayFor(modelItem => item.LastName)</strong>
                        </p>
                    </div>
                    <div class="large-3 medium-6 small-12 columns">
                        <p>
                            <label>@Html.DisplayNameFor(model => model.ChineseName)</label>
                            <strong>@Html.DisplayFor(modelItem => item.ChineseName)</strong>
                        </p>
                    </div>
                    <div class="large-3 medium-6 small-12 columns">
                        <p>
                            <label>@Html.DisplayNameFor(model => model.GenderId)</label>
                            <strong>@{ Html.RenderAction("RegValueText", new {translationObjectId = ViewBag.TranslationObjectId, regValueKey = "gender", regValue = item.GenderId});}</strong>
                            @*<strong>@Html.DisplayFor(modelItem => item.GenderId)</strong>*@
                        </p>
                    </div>
                    <div class="large-3 medium-6 small-12 columns">
                        <p>
                            <label>@Html.DisplayNameFor(model => model.AgeRangeId)</label>
                            <strong>@{ Html.RenderAction("RegValueText", new {translationObjectId = ViewBag.TranslationObjectId, regValueKey = "agerange", regValue = item.AgeRangeId});}</strong>
                        </p>
                    </div>
                    <div class="large-3 medium-6 small-12 columns">
                        <p>
                            <label>@Html.DisplayNameFor(model => model.SessionId)</label>
                            <strong>@{ Html.RenderAction("RegValueText", new {translationObjectId = ViewBag.TranslationObjectId, regValueKey = "sessions", regValue = item.SessionId});}</strong>

                        </p>
                    </div>
                    <div class="large-3 medium-6 small-12 columns">
                        <p>
                            <label>@Html.DisplayNameFor(model => model.RoomTypeId)</label>
                            <strong>@{ Html.RenderAction("RegValueText", new {translationObjectId = ViewBag.TranslationObjectId, regValueKey = "roomtype", regValue = item.RoomTypeId});}</strong>

                        </p>
                    </div>
                    <div class="large-3 medium-6 small-12 columns">
                        <p>
                            <label>@Html.DisplayNameFor(model => model.PartPrice)</label>
                            <strong>@String.Format("{0:C}", item.PartPrice)</strong>
                        </p>
                    </div>
                </div>

                
                        @*
                    @if (ViewBag.isAdmin == true && item.StatusId == 3)
                    {
                        <p>@Html.ActionLink("Check In", "CheckIn", "CheckIn", new { id = item.ParticipantID }, "")</p>
                    }
                        
                    @if (ViewBag.isAdmin == true && item.StatusId == 5)
                    {
                        <p>@Html.ActionLink("Undo Check In", "Cancel", "CheckIn", new { id = item.ParticipantID }, "")</p>
                        <p>@Html.ActionLink("Check Out", "CheckOut", "CheckIn", new { id = item.ParticipantID }, "")</p>
                    }
                        
                    @if (ViewBag.isAdmin == true && item.StatusId == 6)
                    {
                        <p>@Html.ActionLink("Undo Check Out", "Cancel", "CheckIn", new { id = item.ParticipantID }, "")</p>
                    }
                    *@
                    
                        @*if (ViewBag.RegIsConfirm == false)
                        {
                            if (ViewContext.RouteData.Values["translation"].ToString() == "en")
                            {
                                <p>@Html.ActionLink("Edit", "Modify", new { RegUID = ViewBag.RegUID, isPage2 = false, id = item.ParticipantID })  </p>
                                <p>@Html.ActionLink("Remove", "Remove", new { RegUID = ViewBag.RegUID, id = item.ParticipantID })</p>

                            }
                            if (ViewContext.RouteData.Values["translation"].ToString() == "zh")
                            {
                                <p>@Html.ActionLink("编辑", "Modify", new { RegUID = ViewBag.RegUID, isPage2 = false, id = item.ParticipantID })  </p>
                                <p>@Html.ActionLink("清除", "Remove", new { RegUID = ViewBag.RegUID, id = item.ParticipantID })</p>
                            }
                        }*@
                        
                        @*if (ViewBag.isAdmin == true)
                    {
                        <p>@Html.ActionLink("Admin Edit", "EditParticipant", "SearchRegistration", new { RegUID = ViewBag.RegUID, id = item.ParticipantID }, "")</p>
                        <p>Room Assignment: 
                            <br />
                            @Html.Action("PartRoom", "Building", new { partid = item.ParticipantID })</p>
                            
                    }*@
                        
            }

