@*//Participant/Index/RegID&isAdmin*@

@model IEnumerable<RemliCMS.RegSystem.Entities.Participant>


@if (ViewBag.RegIsConfirm != true)
{
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">
            <h5>Total Registration Cost: @String.Format("{0:C}", ViewBag.TotalCost)</h5>
        </div>
    </div>
}

@foreach (var item in Model)
{
    if (item.StatusId == 4)
    {
        @:<div class="row panel callout red">
    }
    else
    {
       @:<div class="row panel">  
    }


        <div class="large-3 medium-4 small-12 columns">
            <p>
                <label>Participant Id</label>
                <strong>@Html.DisplayFor(modelItem => item.PartId)</strong>
            </p>
        </div>
        <div class="large-9 medium-8 small-12 columns">
            @if (ViewBag.RegIsConfirm != true || ViewBag.isAdmin)
            {
                <div class="right">
                    @Html.ActionLink("remove participant", "Delete", "Register", new {regObjectId = ViewBag.RegObjectID, partId = item.PartId}, new {@class = "label alert"})
                    @Html.ActionLink("edit participant", "Participant", "Register", new {regObjectId = ViewBag.RegObjectID, partId = item.PartId}, new {@class = "label"})
                </div>
            }
            <p>
                <label>Status</label>
                <strong>@{ Html.RenderAction("RegValueText", new {translationObjectId = ViewBag.TranslationObjectId, regValueKey = "status", regValue = item.StatusId}); }</strong>
            </p>
        </div>

        <div class="large-3 medium-6 small-12 columns">
            <p>
                <label>@Html.DisplayNameFor(model => model.FirstName)</label>
                <strong>@Html.DisplayFor(modelItem => item.FirstName)</strong>
            </p>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <p>
                <label>@Html.DisplayNameFor(model => model.LastName)</label>
                <strong>@Html.DisplayFor(modelItem => item.LastName)</strong>
            </p>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <p>
                <label>@Html.DisplayNameFor(model => model.ChineseName)</label>
                <strong>@Html.DisplayFor(modelItem => item.ChineseName)</strong>
            </p>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <p>
                <label>@Html.DisplayNameFor(model => model.GenderId)</label>
                <strong>@{ Html.RenderAction("RegValueText", new {translationObjectId = ViewBag.TranslationObjectId, regValueKey = "gender", regValue = item.GenderId}); }</strong>
            </p>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <p>
                <label>@Html.DisplayNameFor(model => model.AgeRangeId)</label>
                <strong>@{ Html.RenderAction("RegValueText", new {translationObjectId = ViewBag.TranslationObjectId, regValueKey = "agerange", regValue = item.AgeRangeId}); }</strong>
            </p>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <p>
                <label>@Html.DisplayNameFor(model => model.SessionId)</label>
                <strong>@{ Html.RenderAction("RegValueText", new {translationObjectId = ViewBag.TranslationObjectId, regValueKey = "sessions", regValue = item.SessionId}); }</strong>

            </p>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <p>
                <label>@Html.DisplayNameFor(model => model.RoomTypeId)</label>
                <strong>@{ Html.RenderAction("RegValueText", new {translationObjectId = ViewBag.TranslationObjectId, regValueKey = "roomtype", regValue = item.RoomTypeId}); }</strong>

            </p>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <p>
                <label>@Html.DisplayNameFor(model => model.PartPrice)</label>
                <strong>@String.Format("{0:C}", item.PartPrice)</strong>
            </p>
        </div>
        if (item.RoomNote != null)
        {
            <div class="large-12 medium-12 small-12 columns">
                <p>
                    <label>@Html.DisplayNameFor(model => model.RoomNote)</label>
                    <strong>@Html.DisplayFor(modelItem => item.RoomNote)</strong>
                </p>
            </div>
        }
    
    @:</div>


            @*
        @if (ViewBag.isAdmin == true && item.StatusId == 3)
        {
            <p>@Html.ActionLink("Check In", "CheckIn", "CheckIn", new { id = item.ParticipantID }, "")</p>
        }
                        
        @if (ViewBag.isAdmin == true && item.StatusId == 5)
        {
            <p>@Html.ActionLink("Undo Check In", "Cancel", "CheckIn", new { id = item.ParticipantID }, "")</p>
            <p>@Html.ActionLink("Check Out", "CheckOut", "CheckIn", new { id = item.ParticipantID }, "")</p>
        }
                        
        @if (ViewBag.isAdmin == true && item.StatusId == 6)
        {
            <p>@Html.ActionLink("Undo Check Out", "Cancel", "CheckIn", new { id = item.ParticipantID }, "")</p>
        }
        *@

            @*if (ViewBag.RegIsConfirm == false)
            {
                if (ViewContext.RouteData.Values["translation"].ToString() == "en")
                {
                    <p>@Html.ActionLink("Edit", "Modify", new { RegUID = ViewBag.RegUID, isPage2 = false, id = item.ParticipantID })  </p>
                    <p>@Html.ActionLink("Remove", "Remove", new { RegUID = ViewBag.RegUID, id = item.ParticipantID })</p>

                }
                if (ViewContext.RouteData.Values["translation"].ToString() == "zh")
                {
                    <p>@Html.ActionLink("编辑", "Modify", new { RegUID = ViewBag.RegUID, isPage2 = false, id = item.ParticipantID })  </p>
                    <p>@Html.ActionLink("清除", "Remove", new { RegUID = ViewBag.RegUID, id = item.ParticipantID })</p>
                }
            }*@

            @*if (ViewBag.isAdmin == true)
        {
            <p>@Html.ActionLink("Admin Edit", "EditParticipant", "SearchRegistration", new { RegUID = ViewBag.RegUID, id = item.ParticipantID }, "")</p>
            <p>Room Assignment: 
                <br />
                @Html.Action("PartRoom", "Building", new { partid = item.ParticipantID })</p>
                            
        }*@

}
