@*//Participant/Index/RegID&isAdmin*@

@model IEnumerable<RemliCMS.RegSystem.Entities.Participant>


@if (ViewBag.RegIsConfirm != true)
{
    <div class="row">
        <div class="large-12 medium-12 small-12 columns">

            @if (ViewContext.RouteData.Values["translation"].ToString() == "en")
            {
                <h5>Total Registration Cost: @String.Format("{0:C}", ViewBag.TotalCost)</h5>
            }
            @if (ViewContext.RouteData.Values["translation"].ToString() == "zh")
            {
                <h4>登记价格: @String.Format("{0:C}", ViewBag.TotalCost)</h4>
            }

        </div>
    </div>
}

@foreach (var item in Model)
{
    if (item.StatusId == 4)
    {
        @:<div class="row panel">
    }
    else
    {
       @:<div class="row panel">  
    }


        <div class="large-3 medium-4 small-12 columns">
            <p>
                <label>@ViewBag.PartFieldNameId[1]</label>
                <strong>@Html.DisplayFor(modelItem => item.PartId)</strong>
            </p>
        </div>
    <div class="large-9 medium-8 small-12 columns">
        <div class="right">
            @if (ViewBag.RegIsConfirm != true && !ViewBag.isAdmin)
            {
                
                if (ViewContext.RouteData.Values["translation"].ToString() == "en")
                {
                    if (item.StatusId == 6)
                    {
                        @Html.ActionLink("Add", "Participant", "Register", new {regObjectId = ViewBag.RegObjectID, partId = item.PartId}, new {@class = "label"})     
                    }
                     else
                     {
                    @Html.ActionLink("Edit", "Participant", "Register", new {regObjectId = ViewBag.RegObjectID, partId = item.PartId}, new {@class = "label"})
                     }
                    @:&#32;
                    @Html.ActionLink("Remove", "Delete", "Register", new {regObjectId = ViewBag.RegObjectID, partId = item.PartId}, new {@class = "label"})
                }
                if (ViewContext.RouteData.Values["translation"].ToString() == "zh")
                {
                    if (item.StatusId == 6)
                    {
                        @Html.ActionLink("加入", "Participant", "Register", new {regObjectId = ViewBag.RegObjectID, partId = item.PartId}, new {@class = "label"})     
                    }
                     else
                     {
                    @Html.ActionLink("编辑", "Participant", "Register", new {regObjectId = ViewBag.RegObjectID, partId = item.PartId}, new {@class = "label"})
                     }         
                    @:&#32;
                    @Html.ActionLink("删除", "Delete", "Register", new {regObjectId = ViewBag.RegObjectID, partId = item.PartId}, new {@class = "label"})
                }
            }
            
            @if (ViewBag.isAdmin)
            {
                if (item.StatusId == 1)
                {
                    @Html.ActionLink("CheckIn", "CheckIn", "RegAdmin", new { regId = item.RegId, partId = item.PartId }, new { @class = "label" })
                }

                if (item.StatusId == 2)
                {
                    @Html.ActionLink("Undo CheckIn", "UndoCheckIn", "RegAdmin", new { regId = item.RegId, partId = item.PartId }, new { @class = "label" })
                    @:&#32;
                    @Html.ActionLink("CheckOut", "CheckOut", "RegAdmin", new { regId = item.RegId, partId = item.PartId }, new { @class = "label" })
                }
                
                if (item.StatusId == 3)
                {
                    @Html.ActionLink("Undo CheckOut", "UndoCheckOut", "RegAdmin", new { regId = item.RegId, partId = item.PartId }, new { @class = "label" })
                }

                if (item.StatusId == 4 || item.StatusId == 5)
                {
                    @Html.ActionLink("Add Back", "StatusUpdate", "RegAdmin", new { regId = item.RegId, partId = item.PartId, newStatus = 6 }, new { @class = "label" })
                }
                    
                if (item.StatusId == 6)
                {
                    @Html.ActionLink("Register", "StatusUpdate", "RegAdmin", new { regId = item.RegId, partId = item.PartId, newStatus = 1 }, new { @class = "label" })
                }

                @:&#32;
                if (ViewBag.RegIsConfirm)
                {
                    @Html.ActionLink("Cancelled", "StatusUpdate", "RegAdmin", new {regId = item.RegId, partId = item.PartId, newStatus = 5},  new {@class = "label"})
                }
                else
                {
                    @Html.ActionLink("Remove", "StatusUpdate", "RegAdmin", new {regId = item.RegId, partId = item.PartId, newStatus = 4},  new {@class = "label"})
                }
                
                @:&#32;
                @Html.ActionLink("Edit", "Participant", "Register", new {regObjectId = ViewBag.RegObjectID, partId = item.PartId}, new {@class = "label"})

            }
            </div> 

            <p>
                <label>@ViewBag.PartFieldNameId[2]</label>
                <strong>@ViewBag.StatusId[item.StatusId]</strong>
            </p>
        </div>

        <div class="large-3 medium-6 small-12 columns">
            <p>
                <label>@ViewBag.PartFieldNameId[8]</label>
                <strong>@Html.DisplayFor(modelItem => item.FirstName)</strong>
            </p>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <p>
                <label>@ViewBag.PartFieldNameId[9]</label>
                <strong>@Html.DisplayFor(modelItem => item.LastName)</strong>
            </p>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <p>
                <label>@ViewBag.PartFieldNameId[10]</label>
                <strong>@Html.DisplayFor(modelItem => item.ChineseName)</strong>
            </p>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <p>
                <label>@ViewBag.PartFieldNameId[4]</label>
                <strong>@ViewBag.GenderId[item.GenderId]</strong>
            </p>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <p>
                <label>@ViewBag.PartFieldNameId[5]</label>
                <strong>@ViewBag.AgeRangeId[item.AgeRangeId]</strong>          
            </p>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <p>
                <label>@ViewBag.PartFieldNameId[3]</label>
                <strong>@ViewBag.SessionId[item.SessionId]</strong>
            </p>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <p>
                <label>@ViewBag.PartFieldNameId[6]</label>
                <strong>@ViewBag.RoomTypeId[item.RoomTypeId]</strong>

            </p>
        </div>
        <div class="large-3 medium-6 small-12 columns">
            <p>
                <label>@ViewBag.PartFieldNameId[11]</label>
                <strong>@String.Format("{0:C}", item.PartPrice)</strong>
            </p>
        </div>
        if (item.RoomNote != null)
        {
            <div class="large-12 medium-12 small-12 columns">
                <p>
                    <label>@ViewBag.PartFieldNameId[7]</label>
                    <strong>@Html.DisplayFor(modelItem => item.RoomNote)</strong>
                </p>
            </div>
        }
    
    @:</div>


            @*
        @if (ViewBag.isAdmin == true && item.StatusId == 3)
        {
            <p>@Html.ActionLink("Check In", "CheckIn", "CheckIn", new { id = item.ParticipantID }, "")</p>
        }
                        
        @if (ViewBag.isAdmin == true && item.StatusId == 5)
        {
            <p>@Html.ActionLink("Undo Check In", "Cancel", "CheckIn", new { id = item.ParticipantID }, "")</p>
            <p>@Html.ActionLink("Check Out", "CheckOut", "CheckIn", new { id = item.ParticipantID }, "")</p>
        }
                        
        @if (ViewBag.isAdmin == true && item.StatusId == 6)
        {
            <p>@Html.ActionLink("Undo Check Out", "Cancel", "CheckIn", new { id = item.ParticipantID }, "")</p>
        }
        *@

            @*if (ViewBag.RegIsConfirm == false)
            {
                if (ViewContext.RouteData.Values["translation"].ToString() == "en")
                {
                    <p>@Html.ActionLink("Edit", "Modify", new { RegUID = ViewBag.RegUID, isPage2 = false, id = item.ParticipantID })  </p>
                    <p>@Html.ActionLink("Remove", "Remove", new { RegUID = ViewBag.RegUID, id = item.ParticipantID })</p>

                }
                if (ViewContext.RouteData.Values["translation"].ToString() == "zh")
                {
                    <p>@Html.ActionLink("编辑", "Modify", new { RegUID = ViewBag.RegUID, isPage2 = false, id = item.ParticipantID })  </p>
                    <p>@Html.ActionLink("清除", "Remove", new { RegUID = ViewBag.RegUID, id = item.ParticipantID })</p>
                }
            }*@

            @*if (ViewBag.isAdmin == true)
        {
            <p>@Html.ActionLink("Admin Edit", "EditParticipant", "SearchRegistration", new { RegUID = ViewBag.RegUID, id = item.ParticipantID }, "")</p>
            <p>Room Assignment: 
                <br />
                @Html.Action("PartRoom", "Building", new { partid = item.ParticipantID })</p>
                            
        }*@

}
