@*/admin/Register/Summary*@

@model RemliCMS.RegSystem.Entities.Registration

@if (ViewBag.Found)
{

    <div class="row">
        <div class="large-6 medium-6 small-12 columns">
            @if (ViewContext.RouteData.Values["translation"].ToString() == "en")
            {
                <h4>Registration Id &nbsp; @Html.DisplayFor(item => item.RegId)</h4>
            }
            @if (ViewContext.RouteData.Values["translation"].ToString() == "ch")
            {
                <h4>注册 Id &nbsp; @Html.DisplayFor(item => item.RegId)</h4>
            }
        </div>
        <div class="large-4 medium-6 small-12 columns">
            @if (ViewContext.RouteData.Values["translation"].ToString() == "en")
            {
                <input class="button tiny expand" type="button" title="Close Registration" value="Close Registration" onclick="location.href='@Url.Action("Index", "Register")    '" />
            }
            @if (ViewContext.RouteData.Values["translation"].ToString() == "ch")
            {
                <input class="button tiny expand" type="button" title="关闭注册" value="关闭注册" onclick="location.href='@Url.Action("Index", "Register")    '" />
            }
        </div>
    </div>
    <div class="row">
    <div class="large-6 medium-6 small-12 columns">
        <h5>
            @Html.DisplayNameFor(model => model.RegEmail):
            @Html.DisplayFor(item => item.RegEmail)
        </h5>
    </div>
    <div class="large-6 medium-6 small-12 columns">
		<h5>
		    @Html.DisplayNameFor(model => model.RegPhone):
		    @String.Format("{0:###-###-####}", Convert.ToInt64(Model.RegPhone))
		</h5>
	</div>

</div>

}